html,body,main {
    height: 100%;
    padding: 0;
    margin: 0;
}

.header {
    height: 50px;
    background-color: #bfffaf;
    width: 100%;
    display: flex;
}
.header-left {
    flex-grow: 1;
    text-align: center;
    background-color: #e8748b;
}
.header-right{
    flex-grow: 1;
    text-align: center;
    background-color: #74c5e8;
}
.header-left p, .header-right p{
    display: inline-block;
    font-size: 2em;
    font-weight: bold;
    margin: 0;
}

.calculate {
    background-color: #74e897;
    width: 100px;
}
.calculate p{
    text-align: center;
    font-size: 2em;
    margin: 0;
}


.parent {
    width: 100%;
    height: calc(100% - 50px);
}

.image {
    position: absolute;
    border: #9e9e9e 1px solid;
    /* width: 50px; */
    /* height: 50px; */
}